.wrapper {
    margin-top: var(--header-height);
    max-width: 100%;
    width: 100%;

    .container {
        width: 100%;
        max-width: 100%;
        display: flex;

        .content {
            flex: 1;
            background-color: #ccc;
            min-height: 1000px;
        }
    }
}
